{% extends "Station/station_index.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="add_slots" method="post">

  <table border="1" class="table table-hover table-striped">
    <tr>
      <td>From time</td>
      <td>To time </td>
      <td>Date</td>
      <td></td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['from_time']}}</td>
      <td>{{i['to_time']}}</td>
      <td>{{i['date']}}</td>
      <td><a href="delete?id={{i['id']}}">Delete</a> </td>
    </tr>
    {% endfor %}

      <tr ALIGN="CENTER">
          <td colspan="4"> <input type="submit" value="Addnew" class="btn btn-primary"> </td>
      </tr>

  </table>

</form>

</body>
<!--</html>-->
{% endblock %}