{% extends "User/user_index.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="view_station2">

<table width="500" border="2" class="table table-hover table-striped">

    <tr>
        <th colspan="6"><input type="text" name="textfield" placeholder="Enter your location"><input type="submit" value="search"></th>
    </tr>

    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Place</th>
      <th scope="col">Map</th>
      <th scope="col">Slot</th>
        <td></td>
    </tr>
        {% for i in val %}

    <tr>
      <td>{{i['name']}}</td>
        <td>{{i['phone']}}</td>
      <td>

       {{i['email']}}


</td>
         <td>

       {{i['place']}}



      </td>
      <td>

        <p><a href="https://www.google.com/maps?q={{i['latitude']}},{{i['longitude']}}">View in map</a></p>

      <!--<p><a href="reject_booking?id={{i['id']}}">Reject</a></p>-->

      </td>
        <td>
            <a href="view_slots2?id={{i['lid']}}">View Available slots</a>
        </td>
    </tr>

    {% endfor %}

  </table>
</form>

</body>
<!--</html>-->

{% endblock %}