<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="500" border="2">
  <tr>
    <th scope="row"><a href="verify_charging_station">Verify charging stations</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">Block or unblock Charging station</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">View complaint send reply</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">View rating and review of charging stations</a></th>
  </tr>
</table>
</body>
</html>