{% extends "Admin/admin_index.html"%}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Verify charging station</title>
</head>
<body>
 <table width="500" border="2" class="table table-hover table-striped">
    <tr>
      <th scope="col">Station Name</th>
      <th scope="col">User Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Date</th>
    </tr>
        {% for i in val %}

    <tr>
      <td>{{i['sname']}}</td>
      <td>
          {{i['name']}}
      </td>
      <td>{{i['rating']}}</td>
      <td>{{i['review']}}</td>
      <td>{{i['date']}}
      </td>
    </tr>

    {% endfor %}

  </table>
</body>
{% endblock %}